.work {
  grid-column-start: 2;
  grid-column-end: 3;
  min-height: 190vh;
  h2 {
    font-size: 78px;
  }
  h3 {
    font-size: 60px;
  }
  p {
    font-size: 24px;
  }
}

.projet-content {
  display: flex;
  padding-top: 5%;
  justify-content: space-between;
  p {
    width: 400px;
    text-align: center;
  }
}
.projet1,
.projet2,
.projet3 {
  margin: 5% 0;
}
.projet1 {
  margin-top: 10%;
}
.projet3 {
  margin-bottom: 3%;
}

.fakeimg {
  background-color: blue;
}

#voirplus {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  font-size: 60px;
  color: blue;
  a {
    text-decoration: none;
    color: blue;
    border-radius: 15px;
    display: inline-block;
    &:hover {
      transition: ease-in-out 1s;
      transform: translate(-10px, -10px);
      background-color: red;
      color: white;
    }
  }
}
