* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Jost', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: no;
      flex-wrap: no;
}

main {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
  z-index: 0;
}

.darkTheme {
  color: white;
  background-color: #0f0f0f;
}

.darkTheme a {
  color: white;
}

.home-page {
  min-height: 100vh;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.landingPage {
  min-height: 90%;
  padding-top: 5%;
  width: 100%;
}

.landingPage h1,
.landingPage h2 {
  font-size: 4rem;
}

.landingPage h1 {
  padding-top: 7%;
}

.landingPage p {
  margin-top: 5%;
  padding-top: 60px;
  width: 100%;
  text-align: center;
  font-size: 36px;
}

.about-page {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-page h2 {
  font-size: 4rem;
  padding-top: 8%;
}

.about-page p {
  font-size: 2.5rem;
}

.work {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  min-height: 190vh;
}

.work h2 {
  margin-top: 5%;
  font-size: 78px;
}

.work h3 {
  font-size: 60px;
}

.work p {
  font-size: 24px;
}

.projet-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projet-content p {
  width: 400px;
  text-align: center;
}

.projet1,
.projet2,
.projet3 {
  margin: 5% 0;
}

.projet1 {
  margin-top: 5%;
}

.projet3 {
  margin-bottom: 3%;
}

.fakeimg {
  background-color: blue;
}

#voirplus {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  font-size: 60px;
  color: blue;
}

#voirplus a {
  text-decoration: none;
  color: blue;
  border-radius: 15px;
  display: inline-block;
}

#voirplus a:hover {
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  background-color: red;
  color: white;
}

.contact {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  min-height: 100vh;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact h2 {
  margin-top: 5%;
  font-size: 4rem;
}

.contact-text {
  width: 50%;
}

.contact-text p {
  width: 80%;
  padding-top: 10%;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 50px;
}

.contact-content {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content p {
  font-size: 2rem;
}

.contact-content p:last-child {
  font-size: 1.8rem;
}

.contact-content p:last-child a {
  text-decoration: none;
  color: inherit;
}

.contact-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 15% 0%;
}

.contact-content ul a {
  text-decoration: none;
  color: blue;
  font-size: 1.5rem;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  min-height: 10vh;
  position: fixed;
  z-index: 1;
}

.header h1 {
  cursor: pointer;
}

.header p {
  cursor: pointer;
}

.header nav ul {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header nav ul li {
  cursor: pointer;
  padding: 1% 1.5%;
  border-radius: 10px;
}

.header nav ul li:hover {
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  background-color: #c2bfbf;
}
/*# sourceMappingURL=styles.css.map */